<nav class="navbar navbar-default">
    <div class="container">
        <% unless user_signed_in? %>
            <ul class="navbar-nav">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation">
                        <%= link_to "ログイン", new_user_session_path, style: "color: #333" %>
                    </li>
                    <li role="presentation">
                        <%= link_to "新規登録", new_user_registration_path, style: "color: #333" %>
                    </li>
                </ul>
            </ul>
        <% else %>
            <ul class="navbar-nav">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation">
                        <%= link_to "Mypage", user_path(current_user), style: "color: #333" %>
                    </li>
                    <li role="presentation">
                        <%= link_to "ジャンル", choices_path, style: "color: #333" %>
                    </li>
                    <li role="presentation">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, style: "color: #333" %>
                    </li>
                </ul>
            </ul>
        <% end %>
    </div>
</nav>

