<header>
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a href="" title="" class="nav-brand" style="color: white;">a</a>
			<ul class="nav navbar-nav navbar-right" date-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
				<% if user_signed_in? %>
					<li class="nav-item">
						<%= link_to "  Mypage", user_path(current_user),class: 'glyphicon glyphicon-home home' %>
					</li>
					<li class="nav-item">
						<%= link_to "  ジャンル", choices_path,class: 'glyphicon glyphicon-user users' %>
					</li>

					<li class="nav-item">
						<%= link_to "  logout", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %>
					</li>

				<% else %>
					<li class="nav-item">
						<%= link_to "  Home", root_path ,class: 'glyphicon glyphicon-home home' %>
					</li>
					<li class="nav-item">
						<%= link_to "  Sign In", user_session_path,class: 'glyphicon glyphicon-edit sign_up' %>
					</li>
					<li class="nav-item">
						<%= link_to "  Login", user_registration_path,class: 'glyphicon glyphicon-log-in sign_in' %>
					</li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>