<%= render 'share/header' %>

<div class="content page">
	<div class="row" id="content-border">
		<div class="col-xs-6" id="content-box">
			<h2>所持</h2>
			<% @contents.each do |c| %>
				<% if c.checked_by?(current_user) %>
					<li style="list-style: none;">
						<%= link_to choice_content_checks_path(@choice, c), method: :delete, remote: true do %>
							<i class=" glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
							<%= c.item %>
							<% if current_user.email == "ore@admin" %>
								<p><%= link_to '編集', edit_choice_content_path(@choice,c) %></p>
								<p><%= link_to '削除', choice_content_path(@choice,c), method: :delete %>
							<% end %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</div>
		<div class="col-xs-6">
			<h2>未所持</h2>
			<% @contents.each do |c| %>
				<% unless c.checked_by?(current_user) %>
					<li style="list-style: none;">
						<%= link_to choice_content_checks_path(@choice, c), method: :post, remote: true do %>
							<i class=" glyphicon glyphicon-heart" aria-hidden="true"></i>
							<%= c.item %>
							<% if current_user.email == "ore@admin" %>
								<p><%= link_to '編集', edit_choice_content_path(@choice,c) %></p>
								<p><%= link_to '削除', choice_content_path(@choice,c), method: :delete %>
							<% end %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


